Repository QuentinGruber/h1z1-server, pull requests merged in 2022-08, with the labels that each got.

#1031 Random bugfixes
  src/servers/ZoneServer2016/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1032 Eventhooks
  src/servers/ZoneServer2016/hooks.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1038 Feature/tsconfigsExtends
  tsconfigs/tsconfig-2015-login.json
  tsconfigs/tsconfig-2015-zone.json
  tsconfigs/tsconfig-2015.json
  tsconfigs/tsconfig-2016-login.json
  tsconfigs/tsconfig-2016-zone.json
  tsconfigs/tsconfig-2016.json
Labels: config-files

#1040 Feature/useCharacterKilledByPacket
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1030 World Saves
  data/2016/sampleData/character.json
  src/servers/ZoneServer2016/classes/baselightweightcharacter.ts
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/classes/worlddatamanager.ts
  src/servers/ZoneServer2016/commands/admin.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
  src/utils/utils.ts
Labels: client-2016, server-data

#1044 Cleanup
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/classes/baselightweightcharacter.ts
  src/servers/ZoneServer2016/classes/character.ts
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/classes/worlddatamanager.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/enums.ts
  src/servers/ZoneServer2016/hooks.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1065 Feature/soeserverenh
  package-lock.json
  package.json
  src/clients/loginclient.ts
  src/clients/soeclient.js
  src/protocols/soeprotocol.ts
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeserver.ts
  tests/2015/loginClientTest.ts
  tests/2015/mongo/loginClientTest.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/zoneClientTest.ts
  tests/2016/loginClientTest.ts
  tests/2016/mongo/zoneClientTest.ts
  tests/2016/zoneClientTest.ts
Labels: dependencies, core, unit-tests
