Repository QuentinGruber/h1z1-server, pull requests merged in 2022-07, with the labels that each got.

#965 RemoveSWC
  .swcrc
  package-lock.json
  package.json
  tests/2015/mongo/loginClientTest.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/zoneClientTest.ts
  tests/2016/loginClientTest.ts
  tests/2016/mongo/zoneClientTest.ts
  tsconfigs/tsconfig-tests.json
Labels: dependencies, config-files

#976 (hopefully) fixed duplicate name exploit when creating a character
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#993 Admin tools
  src/packets/ClientProtocol/ClientProtocol_1080/mount.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/classes/basefullcharacter.ts
  src/servers/ZoneServer2016/classes/baselightweightcharacter.ts
  src/servers/ZoneServer2016/classes/character.ts
  src/servers/ZoneServer2016/classes/doorentity.ts
  src/servers/ZoneServer2016/classes/itemobject.ts
  src/servers/ZoneServer2016/classes/npc.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/admin.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#998 Remove-PVFiesta
  data/2016/zoneData/Z1_PVFiesta.json
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#988 WorldRoutineCleanup
  src/packets/ClientProtocol/ClientProtocol_1080/mount.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/classes/basefullcharacter.ts
  src/servers/ZoneServer2016/classes/baselightweightcharacter.ts
  src/servers/ZoneServer2016/classes/character.ts
  src/servers/ZoneServer2016/classes/doorentity.ts
  src/servers/ZoneServer2016/classes/itemobject.ts
  src/servers/ZoneServer2016/classes/npc.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/admin.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1015 Feature/rndskins
  data/2016/sampleData/bannedZombiesModels.json
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/classes/zombie.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1017 Feature/deathMetrics
  scripts/genPacketsInterfaces.ts
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/servers/ZoneServer2016/classes/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/LoginUdp_9packets.ts
  src/types/gatewaypackets.ts
  src/types/zone2015packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1018 Feature/stopInteractionsWhileShooting
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1020 Feature/netstatsPing
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/utils/constants.ts
  src/utils/utils.ts
Labels: client-2016

#1022 Combatlog ping
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1026 fixed respawn not giving you fists
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
