Repository QuentinGruber/h1z1-server, pull requests merged in 2022-11, with the labels that each got.

#1132 Command handler cleanup
  src/servers/ZoneServer2016/commands/commandhandler.ts
Labels: client-2016

#1137 Nodejs18lts & new CI
  .github/workflows/dev-test.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .prettierignore
  bin/build.bat
  bin/build.sh
  package.json
Labels: dependencies, config-files

#1138 FixNewCiProducedErrors
  src/clients/soeclient.js
  src/packets/ClientProtocol/ClientProtocol_1080/command.ts
  src/packets/ClientProtocol/ClientProtocol_1080/vehicle.ts
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/packets/ClientProtocol/ClientProtocol_860/base.ts
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/protocols/h1emuprotocol.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/H1emuServer/h1emuLoginServer.ts
  src/servers/H1emuServer/h1emuZoneServer.ts
  src/servers/H1emuServer/shared/h1emuserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeinputstream.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_9packets.ts
  src/types/packets.ts
  src/utils/enums.ts
Labels: client-2015, client-2016, core, loginserver, h1emu-internal-communication, unit-tests

#1141 NpcsEnh
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1143 Feature/benchEchoServer
  benchmarks/echo/echo-bench.ts
  benchmarks/echo/echo-client.ts
  benchmarks/echo/echo-server.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/shared/workers/udpServerWorker.ts
  src/utils/processErrorHandling.ts
Labels: core

#1148 removeLogsInTestsClients
  src/clients/soeclient.js
Labels: unit-tests

#1147 Feature/proximityItems
  scripts/genPacketsInterfaces.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2015packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1153 Feature/updtDependencies
  .github/workflows/dev-test.yml
  .github/workflows/release.yml
  docker/2015/H1emuServer.Dockerfile
  docker/2015/LoginServer.Dockerfile
  docker/2015/ZoneServer.Dockerfile
  docker/2016/H1emuServer.Dockerfile
  docker/2016/ZoneServer.Dockerfile
  package-lock.json
  package.json
Labels: dependencies, config-files, dockerfiles

#1127 Overhaul lootspawn system
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/types/zoneserver.ts
Labels: client-2016, loginserver

#1158 Bugfix/FragmentedData
  src/servers/SoeServer/soeinputstream.ts
Labels: core

#1076 Feature/Moderation tools
  list.env
  src/packets/ClientProtocol/ClientProtocol_1080/command.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/internalcommands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
  src/utils/utils.ts
Labels: dependencies, client-2016
