Repository QuentinGruber/h1z1-server, pull requests merged in 2022-03, with the labels that each got.

#706 Feature/labeler
  .github/labeler.yml
  .github/workflows/label.yml
  package-lock.json
  package.json
Labels: dependencies, config-files

#705 Feature/split2016and2015Step1
  h1z1-server.d.ts
  h1z1-server.js
  src/servers/ZoneServer2015/classes/character.ts
  src/servers/ZoneServer2015/classes/vehicles.ts
  src/servers/ZoneServer2015/classes/zoneclient.ts
  src/servers/ZoneServer2015/commands/admin.ts
  src/servers/ZoneServer2015/commands/dev.ts
  src/servers/ZoneServer2015/commands/hax.ts
  src/servers/ZoneServer2015/workers/createBaseEntities.ts
  src/servers/ZoneServer2015/workers/dynamicWeather.ts
  src/servers/ZoneServer2015/zonepackethandlers.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/classes/character.ts
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2015, client-2016, core

#709 Craftmanager
  data/2016/sampleData/recipes.json
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#716 Bugfix/loginserverIpon2016zone
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#712 2016 hotfixes / hotFeatures
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/workers/dynamicWeather.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#719 Feature/optimizeRC4
  package-lock.json
  package.json
  src/servers/SoeServer/soeinputstream.ts
  src/servers/SoeServer/soeoutputstream.ts
Labels: dependencies, core

#720 create processErrorHandling
  h1z1-server.js
  src/utils/processErrorHandling.ts
Labels: core

#721 Feature/handleCacheErrorInABetterWay
  src/servers/SoeServer/soeoutputstream.ts
Labels: core

#724 Bugfix/transientId
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/constants.ts
Labels: client-2015, client-2016

#725 some fixes
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#729 2016 hotFixes/Features
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#733 Avcio9 patch 2
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#741 Bugfix/haxWeather2016
  src/servers/ZoneServer2016/commands/hax.ts
Labels: client-2016

#743 Bugfix/characterSyncLoginAndZone
  .vscode/launch.json
  src/protocols/h1emuprotocol.ts
  src/servers/H1emuServer/h1emuLoginServer.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
Labels: client-2015, client-2016, loginserver, h1emu-internal-communication

#744 Bugfix/logoutBeingExecutedTwice
  src/servers/ZoneServer2015/zonepackethandlers.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2015, client-2016

#745 BugFix/DroppedConnectionBetweenLoginAndZone
  src/servers/H1emuServer/h1emuZoneServer.ts
Labels: h1emu-internal-communication

#757 BugFix/staminaDrainAfterDeath
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016

#758 Bugfix/solomodeunusable
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#761 Bugfix/ReloadPacketsDefintions
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2015, client-2016

#762 Feature/limitMongodbPoolSizePerServer
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016, loginserver

#735 Finish client container logic
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/packets/ClientProtocol/ClientProtocol_1080/container.ts
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#765 fixed dam and basic h1emu spawn locations:
  data/2016/zoneData/Z1_spawnLocations.json
Labels: server-data

#764 item definitions are now cached once on server startup
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#766 Bugfix/drainStaminaWhenDriving
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
