Repository QuentinGruber/h1z1-server, pull requests merged in 2022-10, with the labels that each got.

#1085 Feature/packetsTypesEnh
  scripts/genPacketsInterfaces.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/LoginUdp_9packets.ts
  src/types/gatewaypackets.ts
  src/types/packets.ts
  src/types/weaponPackets.ts
  src/types/zone2015packets.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2015, client-2016, loginserver

#1083 Feature/worldSaveVersionning
  src/servers/ZoneServer2016/classes/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#1090 Bugfix/unallowDupCharacters
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1091 Bugfix/InfiniteFallingVehicles
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1082 Feature/configFile
  config-file-example.json
  h1z1-server.js
Labels: core

#1092 bugfix/baldCharactersLooking
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/servers/shared/functions.ts
Labels: client-2016, core, loginserver

#994 Weapon replication
  data/2016/dataSources/ServerWeaponDefinitions.json
  src/packets/ClientProtocol/ClientProtocol_1080/referenceData.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/weaponPackets.ts
Labels: client-2016, server-data

#1047 Feature/vehicleloadout
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/packets/ClientProtocol/ClientProtocol_1080/vehicle.ts
  src/servers/ZoneServer2016/classes/basefullcharacter.ts
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
Labels: client-2016, server-data

#1094 Bugfix/vehicleMoveMode
  package.json
  scripts/genPacketsInterfaces.ts
  scripts/genPacketsNames.ts
  src/packets/ClientProtocol/ClientProtocol_1080/mount.ts
  src/packets/ClientProtocol/ClientProtocol_1080/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/LoginUdp_9packets.ts
  src/types/gatewaypackets.ts
  src/types/packets.ts
  src/types/zone2015packets.ts
  src/types/zone2016packets.ts
Labels: dependencies, client-2016

#1109 fixed wrong military backpack id being spawned
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/enums.ts
Labels: client-2016

#1116 feature/HandleRawDataPackets
  src/packets/ClientProtocol/ClientProtocol_860/base.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
Labels: client-2015, core

#1118 Feature/node19Support
  .github/workflows/dev-test.yml
  package.json
Labels: dependencies, config-files

#1117 Refactor/events
  src/clients/soeclient.js
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeinputstream.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016, core, loginserver, unit-tests

#1119 Feature/disconnectClientOnInputStreamError
  src/servers/SoeServer/soeinputstream.ts
  src/servers/SoeServer/soeserver.ts
Labels: core

#1123 fixed '/god' command ('/gm' also works)
  src/servers/ZoneServer2016/commands/commands.ts
Labels: client-2016

#1124 moved all functions out of zonepackethandlers constructor
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1126 Feature/h1emu-core-1.0.0
  package-lock.json
  package.json
Labels: dependencies

#1121 Feature/mountVehDriverDead
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1125 Feature/split looted stack
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
