Repository QuentinGruber/h1z1-server, pull requests merged in 2022-04, with the labels that each got.

#775 finish loadoutslots logic
  data/2016/dataSources/EquipSlotItemClasses.json
  data/2016/dataSources/LoadoutEquipSlots.json
  data/2016/dataSources/LoadoutSlots.json
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#778 fix random bugs
  data/2016/zoneData/Z1_spawnLocations.json
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#784 Feature/useSchedulerApi
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#785 Feature/initDbWithJsonDocuments
  data/defaultDatabase/shared/servers.json
  data/defaultDatabase/shared/zone-whitelist.json
  mongodb/h1server/servers.bson
  mongodb/h1server/servers.metadata.json
  mongodb/h1server/spawns.bson
  mongodb/h1server/spawns.metadata.json
  mongodb/h1server/weathers.bson
  mongodb/h1server/weathers.metadata.json
  mongodb/h1server/zone-whitelist.bson
  mongodb/h1server/zone-whitelist.metadata.json
  package-lock.json
  package.json
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: dependencies, client-2015, client-2016, server-data, loginserver

#592 Feature/soeServerEnh
  .github/workflows/test-mongo.yml
  .github/workflows/test-runtime.yml
  list.env
  package-lock.json
  package.json
  src/clients/soeclient.js
  src/protocols/soeprotocol.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/servers/shared/workers/udpServerWorker.ts
  src/types/soeserver.ts
  src/utils/constants.ts
  tests/2015/loginClientTest.ts
  tests/2015/mongo/loginClientTest.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/zoneClientTest.ts
Labels: dependencies, client-2015, client-2016, core, config-files, loginserver, unit-tests

#803 0.20.5
  package.json
Labels: dependencies

#820 Feature/healthThread
  .swcrc
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/servers/shared/workers/healthWorker.ts
  tsconfig.json
Labels: client-2015, client-2016, core, config-files, loginserver

#821 Feature/someTsOptimisations
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2015, client-2016

#823 Bugfix/betterHandlingOfProtocolsErrors
  src/protocols/gatewayprotocol.ts
  src/protocols/h1z1protocol.ts
  src/protocols/loginprotocol.ts
  src/protocols/loginprotocol2016.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/protocols.ts
Labels: client-2015, client-2016, loginserver, gatewayserver

#825 Feature/eslint
  .eslintrc.json
  .github/workflows/eslint.yml
  bin/build.bat
  package-lock.json
  package.json
  src/clients/gatewayclient.js
  src/clients/soeclient.js
  src/packets/ClientProtocol/ClientProtocol_1080/facility.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/packets/ClientProtocol/ClientProtocol_860/facility.ts
  src/packets/ClientProtocol/ClientProtocol_860/shared.ts
  src/packets/ClientProtocol/ClientProtocol_860/weapon.ts
  src/protocols/h1emuprotocol.ts
  src/protocols/h1z1protocol.ts
  src/protocols/soeprotocol.ts
  src/servers/H1emuServer/h1emuZoneServer.ts
  src/servers/H1emuServer/shared/h1emuserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/commands/admin.ts
  src/servers/ZoneServer2015/commands/dev.ts
  src/servers/ZoneServer2015/commands/hax.ts
  src/servers/ZoneServer2015/workers/dynamicWeather.ts
  src/servers/ZoneServer2015/zonepackethandlers.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/classes/craftmanager.ts
  src/servers/ZoneServer2016/classes/vehicle.ts
  src/servers/ZoneServer2016/classes/worldobjectmanager.ts
  src/servers/ZoneServer2016/commands/admin.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/hax.ts
  src/servers/ZoneServer2016/workers/dynamicWeather.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/servers/shared/workers/healthWorker.ts
  src/servers/shared/workers/udpServerWorker.ts
  src/utils/lz4/lz4.ts
  src/utils/processErrorHandling.ts
  src/utils/utils.ts
Labels: dependencies, client-2015, client-2016, core, config-files, loginserver, h1emu-internal-communication, unit-tests, gatewayserver

#832 Feature/upgradePkgAndSupportNode18
  .github/workflows/eslint.yml
  .github/workflows/release.yml
  .github/workflows/test-binaries.yml
  .github/workflows/test-mongo.yml
  .github/workflows/test-npm-pack.yml
  .github/workflows/test-runtime.yml
Labels: config-files

#833 Feature/NewGithubWorflows
  .github/workflows/dev-test.yml
  .github/workflows/eslint.yml
  .github/workflows/release-test.yml
  .github/workflows/test-binaries.yml
  .github/workflows/test-mongo.yml
  .github/workflows/test-npm-pack.yml
  .github/workflows/test-runtime.yml
  package-lock.json
  package.json
Labels: dependencies, config-files
