Repository QuentinGruber/h1z1-server, pull requests merged in 2023-01, with the labels that each got.

#1098 Feature/calculatePingFromSync
  package.json
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
  src/utils/constants.ts
Labels: dependencies, client-2016, core

#1182 Weighted lootspawn system
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1199 Bugfix/blankspecialnames
  src/servers/LoginServer/loginserver.ts
  src/utils/enums.ts
  src/utils/utils.ts
Labels: loginserver

#1203 Feature/gatewayprotocolrust
  h1z1-server.js
  package-lock.json
  package.json
  src/clients/gatewayclient.js
  src/clients/gatewayclient.ts
  src/protocols/gatewayprotocol.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/SoeServer/logicalPacket.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.ts
  src/types/soeserver.ts
Labels: dependencies, core, unit-tests, gatewayserver

#1208 Feature/remove_zonewhitelist
  data/defaultDatabase/shared/zone-whitelist.json
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, server-data, loginserver

#1215 set bounds for most POI's
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#1226 Hotfixes
  src/servers/ZoneServer2016/classes/smeltingentity.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1227 Commands fixes/cleanup
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1231 Raiding fix
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1232 Bugfixes/loginserver
  src/servers/LoginServer/loginserver.ts
  src/utils/utils.ts
Labels: loginserver

#1239 Fix invisible characters
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1241 fixed being able to remove yourself from your own foundation's permis…
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1240 Interact Request
  src/packets/ClientProtocol/ClientProtocol_1080/command.ts
  src/servers/ZoneServer2016/classes/smeltingentity.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/doorentity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1242 Performance Improvements
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1244 Bugfix/fixconsolespam
  src/servers/ZoneServer2016/classes/baseItem.ts
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/classes/smeltingentity.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1245 Lootspawnbalance
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1249 Routines optimization & random fixes
  src/servers/ZoneServer2016/classes/gridcell.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1250 Bugfix/basesSaving
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
Labels: client-2016

#1252 fixed unsafe container loot spawning; slightly increased kevlar spawns
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1253 fixed lootbag server crash / console spam
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
Labels: client-2016

#1254 punjis are no longer placable in range of another's base
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1256 fixed broken stackcount setting logic
  src/servers/ZoneServer2016/classes/baseItem.ts
Labels: client-2016

#1257 Optimisation
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1261 Feature/stopServerStartingIfIssuesWithSaving
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
Labels: client-2016

#1262 Remove login msg/global chat
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1274 Feature/enumForCollections
  src/servers/LoginServer/loginserver.ts
  src/servers/LoginServer/workers/httpServer.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/constants.ts
  src/utils/enums.ts
  src/utils/utils.ts
Labels: client-2015, client-2016, loginserver

#1275 Bugfix/connectedServerShowOflline
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#1277 added animal fat to garbage can and dumpster spawns
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1278 fixed bow loadoutslots
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1283 Feature/allowAdminsLoginEverytime
  src/protocols/h1emuprotocol.ts
  src/servers/H1emuServer/h1emuLoginServer.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, loginserver, h1emu-internal-communication

#1276 Feature/mongoDBbans
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1282 Feature/LogToMongo
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
  src/utils/utils.ts
Labels: client-2016

#1284 Ammo count fix
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1295 Feature/ResetPacketLoosRate
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeserver.ts
Labels: core

#1296 RemoveWhiteList
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#1291 UpdateDependencies
  package-lock.json
  package.json
Labels: dependencies

#1299 StructeredClone
  src/servers/LoginServer/loginserver.ts
  src/utils/utils.ts
Labels: config-files, loginserver

#1300 Optimization&fixes
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1307 routine Optimisation
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1308 POI's update
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#1312 fix /0
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1321 Raiding fixes and adjustments, base decaying
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1316 Negative item stack fixes / better logging
  src/servers/ZoneServer2016/classes/baseItem.ts
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1306 Feature/worldDataManagerThreaded
  .ignore
  package-lock.json
  package.json
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanagerthread.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
  src/utils/utils.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/zoneClientTest.ts
  tests/2016/mongo/zoneClientTest.ts
  tests/2016/zoneClientTest.ts
Labels: dependencies, client-2016

#1323 fix concurrent saves
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1324 Hotfix tp under foundation
  src/servers/ZoneServer2016/entities/constructionparententity.ts
Labels: client-2016
