Repository QuentinGruber/h1z1-server, pull requests merged in 2023-02, with the labels that each got.

#1326 clear firestate on character death to prevent infinite ak spray
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1330 removed removing (xd) of all props when client loads,
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1333 Decaying/Client crash fix
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1332 changed interaction times and undo placement times for construction e…
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1336 fixed server crash from broken character load
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1339 remove foundtion from ood filter; improve decay manager
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#1354 Bugfix/saveCrashIssue
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/utils/utils.ts
Labels: client-2016

#1340 fixed vehicle lootbags sometimes spawning under the map
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1341 added ping back to combatlog
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1342 Bugfix/reloadfixes
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1343 dropped items now spawn immediately on the ground
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1355 feature/PingLock
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1349 fixes
  data/2016/zoneData/Z1_spawnLocations.json
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1360 Fix for overlapping permissions error
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1363 increase max ping
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1364 Bugfix/untransferableData
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1371 Issues fixes
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1374 fixes
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
Labels: client-2016, core

#1380 Feature/sessionsRework
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/internalcommands.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, loginserver

#1382 Fix container error
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1385 Feature/saveImprovement
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/utils/enums.ts
  src/utils/utils.ts
Labels: client-2016

#1387 Base security fix
  data/2016/zoneData/Z1_spawnLocations.json
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1388 revert furnaces render distance change
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
Labels: client-2016

#1389 fix no lootbag on storage/furnace destroy
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
Labels: client-2016

#1393 Updateh1emucore-1.0.3
  package-lock.json
  package.json
  src/clients/gatewayclient.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/SoeServer/soeserver.ts
Labels: dependencies, core, unit-tests

#1396 Lootspawnrebalance
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1400 feature/respawnGrid
  data/2016/zoneData/Z1_gridSpawns.json
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/servers/ZoneServer2016/classes/spawncell.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/internalcommands.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#1404 cleaned up remover code; fixed a bug causing the remover tool to spaw…
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/doorentity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/entities/plantingdiameter.ts
  src/servers/ZoneServer2016/entities/temporaryentity.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1405 feature/spectatorTeleport
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1411 fix Invis attempt
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1417 Fixes/baseBuilding&Raiding
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1422 fix/packetSpam&more
  data/2016/zoneData/Z1_POIs.json
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/internalcommands.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#1421 use BaseEntity[] type for spawnedEntities
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1420 fixed godmode randomly disabling after spawning; temp godmode on spaw…
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1426 visitor permission is now given if a player isn't already on permissi…
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1430 Increase movement speed
  data/2016/sampleData/stats.json
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016, server-data

#1431 h1emu-core 1.0.6
  package-lock.json
  package.json
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
Labels: dependencies, client-2016

#1429 added better hitvalidation logic
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1435 slightly lowered conveys speed
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1434 Map bounds checks, fixes
  data/2016/zoneData/Z1_POIs.json
  data/2016/zoneData/Z1_vehicleLocations.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1438 fixed invisible equipment on new characters
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1444 Rebalance
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1447 pre wipe changes
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1446 Feature/saveVeh
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#1448 validate hit positions
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#1449 better hit validation
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1450 disable pos decync check for admins
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1453 fix crazy fairplay kicks
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1454 update speed hack threshold
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1459 Feature/enableCrcWMultipack
  package-lock.json
  package.json
  src/clients/soeclient.js
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/logicalPacket.ts
  src/servers/SoeServer/soeserver.ts
  tests/2015/loginClientTest.ts
  tests/2015/mongo/loginClientTest.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/zoneClientTest.ts
  tests/2016/loginClientTest.ts
  tests/2016/mongo/zoneClientTest.ts
  tests/2016/zoneClientTest.ts
Labels: dependencies, core, loginserver, unit-tests

#1458 bugfix/Hotfixes
  src/servers/ZoneServer2016/classes/baseItem.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1461 Balance
  data/2016/sampleData/stats.json
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016, server-data

#1468 Movement
  data/2016/sampleData/stats.json
Labels: server-data
