Repository QuentinGruber/h1z1-server, pull requests merged in 2023-07, with the labels that each got.

#1604 LoginKickRequest
  data/2016/sampleData/defaultconfig.yaml
  src/protocols/h1emuprotocol.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016, server-data, loginserver, h1emu-internal-communication

#1607 Feature/update deps
  package-lock.json
  package.json
  src/servers/ZoneServer2015/commands/dev.ts
  src/servers/ZoneServer2015/workers/dynamicWeather.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2015, client-2016

#1606 Feature/healstack
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016
