Repository QuentinGruber/h1z1-server, pull requests merged in 2023-09, with the labels that each got.

#1620 added headlights and siren commands
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
  src/utils/utils.ts
Labels: client-2016

#1622 added effects enums
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1625 fix commands not being reloaded with /dev reloadpackets
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2015, client-2016

#1627 fixed serverinfo command
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1128 Melee weapons
  data/2016/sampleData/abilities.json
  src/packets/ClientProtocol/ClientProtocol_1080/abilities.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#1631 Added built-in support for plugins adding their own commands
  src/servers/ZoneServer2016/handlers/commands/types.ts
  src/servers/ZoneServer2016/managers/pluginmanager.ts
Labels: client-2016

#1632 Bugfix/vehicle lock
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1636 senddata_generics
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1638 feature/rebootTimer
  data/2016/sampleData/defaultconfig.yaml
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016, server-data, loginserver

#1629 bugFixes
  data/2016/dataSources/weather.json
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1643 Enhanced packet interfaces
  scripts/genPacketsInterfaces.ts
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/servers/LoginServer/loginserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/LoginUdp_9packets.ts
  src/types/packetStructure.ts
  src/types/zone2015packets.ts
  src/types/zone2016packets.ts
Labels: loginserver

#1647 hud indicators
  data/2016/dataSources/HudIndicators.json
  src/packets/ClientProtocol/ClientProtocol_1080/effects.ts
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1649 interaction animations & emotes
  data/2016/dataSources/ItemUseOptions.json
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/characterState.ts
  src/packets/ClientProtocol/ClientProtocol_1080/h1z1packets.ts
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data
