Repository QuentinGruber/h1z1-server, pull requests merged in 2023-03, with the labels that each got.

#1469 Feature/moreSecuredH1emuCore
  package-lock.json
  package.json
Labels: dependencies

#1472 Disable grey skins spawning
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1406 replaced shotgun damage distance falloff logic
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1471 fixed prone sens
  data/2016/sampleData/stats.json
  src/servers/ZoneServer2016/entities/character.ts
  src/utils/utils.ts
Labels: client-2016, server-data

#1423 Cleanup spectator packets
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/h1z1packets.ts
  src/packets/ClientProtocol/ClientProtocol_1080/spectator.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/commands/internalcommands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1476 Security
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1481 disable hiddenplayers ban enforcing
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1484 security fixes
  data/2016/encryptedData/encryptedData.json
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, server-data

#1486 hotfix kicks
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1487 added more data
  data/2016/encryptedData/encryptedData.json
Labels: server-data

#1489 Bugfix/security
  data/2016/encryptedData/encryptedData.json
  data/2016/sampleData/stats.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1490 fix stamina
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1491 .
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1440 Chatmanager
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/commands/commandhandler.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/types.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/chatmanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
  src/types/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016

#1495 feature/disableHealingWhileDriving
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1500 Fixstamina
  data/2016/encryptedData/encryptedData.json
  data/2016/sampleData/stats.json
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1503 FairPlay improvements
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1506 Security improvements
  data/2016/dataSources/ServerWeaponDefinitions.json
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, server-data

#1507 revert fairplay teleporting back
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1508 .
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016, server-data

#1511 Loot table fix
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1228 Group system
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/group.ts
  src/packets/ClientProtocol/ClientProtocol_1080/h1z1packets.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/chatmanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016

#1513 Pre wipe changes
  data/2016/encryptedData/encryptedData.json
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1524 Security and features
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1526 fairPlay fixes
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1515 ConfigManager
  .gitignore
  data/2016/sampleData/defaultconfig.yaml
  package-lock.json
  package.json
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/rconmanager.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanagerthread.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: dependencies, client-2016, server-data

#1527 fix fairplay flying kicks
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1505 Random fixes / cleanup
  src/servers/ZoneServer2016/classes/weapon.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/plantingdiameter.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1528 bugfix/explosivedmg
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1533 Feature/isDisabled
  data/defaultDatabase/shared/servers.json
  src/servers/LoginServer/loginserver.ts
Labels: server-data, loginserver

#1532 Fixes
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1535 bugfix/Hotfixes
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1536 fixed render issue
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#1539 Feature/serverPopStatus
  src/servers/LoginServer/loginserver.ts
  src/utils/utils.ts
Labels: loginserver

#1540 Fixes
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1541 Fixes
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1542 Bugfix/zonePopulationUpdate
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016
