Repository QuentinGruber/h1z1-server, pull requests merged in 2023-11, with the labels that each got.

#1659 melee fixes
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/abilitiesmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1652 Redo ban system / Asset validation
  data/2016/dataSources/AllowedFileHashes.json
  data/2016/sampleData/defaultconfig.yaml
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/packets/ClientProtocol/ClientProtocol_1080/vehicle.ts
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/protocols/lzconnectionprotocol.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/LoginZoneConnection/loginconnectionmanager.ts
  src/servers/LoginZoneConnection/shared/baselzconnection.ts
  src/servers/LoginZoneConnection/shared/lzconnectionclient.ts
  src/servers/LoginZoneConnection/zoneconnectionmanager.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/loginserver.ts
  src/types/packets.ts
  src/types/protocols.ts
  src/types/shared.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
  src/utils/enums.ts
Labels: client-2015, client-2016, server-data, loginserver, h1emu-internal-communication

#1660 Feature/fix skins
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1644 Weather Rework
  data/2016/dataSources/weather.json
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/models/weather.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1663 update default hash for 256
  data/2016/dataSources/AllowedFileHashes.json
Labels: server-data

#1664 Fix entities hiding on secured foundations and expansions
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#1668 fixes
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1672 Allow connections to old servers
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#1674 fix
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1677 Detect Typo Errors
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/shared.ts
Labels: client-2016

#1678 Support Mongo 7
  package-lock.json
  package.json
Labels: dependencies

#1679 Support node 20
  .github/workflows/dev-test.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/servers/LoginZoneConnection/shared/baselzconnection.ts
  src/servers/SoeServer/soeclient.ts
Labels: dependencies, core, config-files

#1681 Bugfix/tillers
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1676 Fix fair play spam
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1683 NV
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1684 crates fix
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1685 Change type of SpawnedEntities field to a Set
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1692 fixed lightweightPC pack error
  src/packets/ClientProtocol/ClientProtocol_1080/vehicle.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/plantingdiameter.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: client-2016

#1690 Cache static DTO list on server start
  src/packets/ClientProtocol/ClientProtocol_1080/dto.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1694 fix issue with customizeDTO
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1691 redid explosives system; fixed shack demolition
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1686 PVE
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1707 miscAndFixes
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016, server-data
