Repository QuentinGruber/h1z1-server, pull requests merged in 2023-12, with the labels that each got.

#1713 WIP update h1emu-core
  package-lock.json
  package.json
  src/clients/soeclient.js
  src/servers/SoeServer/soeserver.ts
Labels: dependencies, core, unit-tests

#1718 fixed tampers incorrectly hiding some slotted entities
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1720 Base Security Fixes
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#1717 plugin fixes
  src/servers/ZoneServer2016/managers/pluginmanager.ts
Labels: client-2016

#1734 Fixed containers not receiving loot
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016, server-data

#1756 Fairplay stuff
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/utils/utils.ts
Labels: client-2016
