Repository QuentinGruber/h1z1-server, pull requests merged in 2023-06, with the labels that each got.

#1597 updateDependencies
  package-lock.json
  package.json
Labels: dependencies

#1588 Qol
  data/2016/sampleData/defaultconfig.yaml
  data/2016/sampleData/stats.json
  src/packets/ClientProtocol/ClientProtocol_1080/accessedCharacter.ts
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/basesimplenpc.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1546 population numbers workaround
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/servers/LoginServer/loginserver.ts
  src/types/LoginUdp_11packets.ts
  src/utils/utils.ts
Labels: loginserver

#1594 Feature/custom login packets
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/servers/LoginServer/loginserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: loginserver

#1598 Feature/plugins
  h1z1-server.d.ts
  h1z1-server.js
  src/servers/ZoneServer2016/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/pluginmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
  tsconfig.json
Labels: client-2016, core, config-files

#1600 Custom login packets
  src/protocols/h1emuprotocol.ts
  src/servers/LoginServer/loginclient.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, loginserver, h1emu-internal-communication

#1605 Login kick packet
  data/2016/sampleData/defaultconfig.yaml
  src/protocols/h1emuprotocol.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/commands/commands.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016, server-data, loginserver, h1emu-internal-communication
