Repository QuentinGruber/h1z1-server, pull requests merged in 2023-04, with the labels that each got.

#1548 Encrypted Data update
  data/2016/encryptedData/encryptedData.json
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#1554 bugFix/maxBulk
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
Labels: client-2016

#1555 fixed invis issue
  data/2016/encryptedData/encryptedData.json
  data/2016/encryptedData/fairPlayData.json
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016, server-data

#1558 block glitched storages
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
Labels: client-2016

#1560 Feature/airdrops
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1562 storages fix
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
Labels: client-2016

#1561 feature/Airdrops
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1563 Feature/h1emuInternalCommunicationEnh
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1566 Fix storages
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1565 Feature/airdrops
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1568 changes/RandomChanges
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1569 Feature/experimentalWeapons
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1545 Construction fixes
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1580 Feature/node20
  .github/workflows/dev-test.yml
  package-lock.json
  package.json
Labels: dependencies, config-files

#1581 feature/packetsPerSecBench
  benchmarks/archives/loginClientLoadTest.ts
  benchmarks/archives/zoneClientLoadTest.ts
  benchmarks/benchFullLogin.ts
  benchmarks/benchFullLoginZone.ts
  benchmarks/benchSessionRequest.ts
  benchmarks/src/echo/echo-bench.ts
  benchmarks/src/echo/echo-client.ts
  benchmarks/src/echo/echo-server.ts
  benchmarks/src/packetPerSec/persec-bench.ts
  benchmarks/src/packetPerSec/persec-client.ts
  benchmarks/src/soestreams.ts
  benchmarks/tsconfig.json
  benchmarks/workers/loginServer.ts
  benchmarks/workers/soeClient.ts
  benchmarks/workers/soeServer.ts
  benchmarks/workers/zoneServer.ts
  package.json
  src/servers/SoeServer/soeinputstream.ts
Labels: dependencies, core
