Repository QuentinGruber/h1z1-server, pull requests merged in 2024-08, with the labels that each got.

#2120 remove binaries building
  .github/workflows/dev-test.yml
  .github/workflows/release.yml
  package.json
  src/servers/LoginZoneConnection/shared/baselzconnection.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016, config-files

#2118 feature/es2023
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/plane.ts
  tsconfig.json
Labels: client-2016, config-files

#2121 updtDeps(eslint)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/packets/ClientProtocol/ClientProtocol_1080/weapon.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/doorentity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/pluginmanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: dependencies, client-2016, core, loginserver

#2122 For our dear friend
  data/2016/zoneData/Z1_taskProps.json
  src/servers/ZoneServer2016/entities/taskprop.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2127 small fixes
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/types/savedata.ts
Labels: client-2016, core
