Repository QuentinGruber/h1z1-server, pull requests merged in 2024-02, with the labels that each got.

#1859 Faster decay on grief plots
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/models/config.ts
Labels: client-2016, server-data

#1883 disable snare poi placement
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#1892 Fix vehicle that could be destroyed in PVE
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#1881 Deprecate furnace change
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
Labels: client-2016

#1794 Add comfort logic
  data/2016/dataSources/HudIndicators.json
  package.json
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: need-ingame-test

#1893 Add vehicles damage unit tests for PVP&PVE
  src/servers/ZoneServer2016/entities/vehicle.test.ts
Labels: client-2016

#1894 Add characters damage unit tests
  src/servers/ZoneServer2016/entities/character.test.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/utils/test.utils.ts
Labels: client-2016

#1890 BlackScreen fix from Avcio
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1902 Fix for wrench, car decay, and players shooting cars on PvE
  src/servers/ZoneServer2016/entities/vehicle.test.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#1901 Fix for demo hammer melee on bee box
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
Labels: client-2016, need-ingame-test

#1904 Handle unknown HudIndicator
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1908 Lower bumjick poi range
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#1910 Fix night vision upon bleeding/hud indicator error & type safety
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1907 Fix containers not receiving entirety of loottable upon respawn
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1914 fixed stuck char after respawn
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/entities/vehicle.test.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/gametimemanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1909 Rework npc reward system
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016, need-ingame-test

#1906 bugfix/allWeaponsRandomDura
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1927 Fix for digital camo armor spawning instead of CDN conveys
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#1934 Honey and honeycomb inside bee boxes
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
Labels: client-2016

#1936 Add saveWorld tests to zoneserver.test
  src/servers/ZoneServer2016/zoneserver.test.ts
Labels: client-2016

#1924 Implement isSoeClientFlooded
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/SoeServer/soeoutputstream.ts
Labels: core

#1939 Another solution for vehicle positionUpdate circular dep
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#1940 Modify rnd durability sys
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1941 Make /kit items max durabilty
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1942 Fix standing dead zombies
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016

#1944 fixed fairplay kicks in vehicle
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1937 Add worldDataManagerTests
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
Labels: client-2016

#1945 Add ingameTime fields in config
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/gametimemanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1943 Remove old logic about npc corpse
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016

#1946 Revert "Fix containers not receiving entirety of loottable upon respawn"
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1949 Make all unit tests using random ports instead of hardcoded ones
  src/servers/LoginServer/loginserver.test.ts
  src/servers/SoeServer/soeserver.test.ts
  src/servers/ZoneServer2016/entities/vehicle.test.ts
  src/servers/ZoneServer2016/zoneserver.test.ts
Labels: client-2016, core, loginserver

#1950 Add some vehicles load for world save unit tests
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
Labels: client-2016

#1953 Update project dependencies
  package-lock.json
  package.json
Labels: dependencies

#1951 Add constructions to world save unit tests
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
Labels: client-2016

#1947 Spectator vehicle now have a proper transientId
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
Labels: client-2016

#1948 Don't replicate observer movement
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1956 Buff Campfire comfort slightly
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#1957 Bandaid vehicle fairplay fix
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1958 Fix cringe issue with crcSeed > max_uint8
  src/servers/SoeServer/soeserver.ts
Labels: core

#1959 release/0.33.0
  benchmarks/src/echo/echo-server.ts
  data/2016/sampleData/defaultconfig.yaml
  package-lock.json
  package.json
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.test.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.test.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/vehicle.test.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/gametimemanager.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.test.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016, core, server-data, loginserver

#1968 Fix load construction unit test
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
Labels: client-2016

#1969 Fix some socket related stuff in unit tests
  src/servers/ZoneServer2016/entities/character.test.ts
  src/servers/ZoneServer2016/entities/vehicle.test.ts
Labels: client-2016

#1964 Bumjick POI
  data/2016/zoneData/Z1_POIs.json
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016, server-data

#1973 Add restricted building rulesets
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#1966 Add vpn-whitelist
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016
