Repository QuentinGruber/h1z1-server, pull requests merged in 2024-11, with the labels that each got.

#2230 crates drop rework
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/treasurechest.ts
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#2216 added combined updateItem method
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2193 save the whole world when you disconnect in solo
  src/servers/ZoneServer2016/zoneserver.test.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2227 Optimize Explosives
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2232 fixed undefined npc crash
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#2234 another crate drop rework
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/treasurechest.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#2233 Armor / Helmet / Shotgun Adjustments
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2231 useCharReleasedFromPacket
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2235 admin collection sample
  data/defaultDatabase/shared/admins.json
  src/utils/utils.ts
Labels: server-data

#2242 slight shotgun headshot dmg buff
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2245 h1emu-core 1.3.0
  package-lock.json
  package.json
Labels: dependencies

#2247 node23 workflows
  .github/workflows/dev-test.yml
  package-lock.json
  package.json
Labels: dependencies, config-files

#2251 fixserverpoprounding
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#2249 quick Fixes
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/protocols/h1z1protocol.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, core

#2255 dont spawn hidden lootableConstruction
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2256 alert when a rare is opened
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#2181 bugfix missing characters fields
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
Labels: client-2016

#2254 loginqueue
  data/2016/sampleData/single_player_server.json
  src/packets/LoginUdp/LoginUdp_11/loginTunnelPackets.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/loginserver.ts
Labels: client-2016, server-data, loginserver

#2259 poplevel
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#2257 decay
  data/2016/sampleData/defaultconfig.yaml
Labels: server-data

#2261 worldSaveFix
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
Labels: client-2016

#2258 christmas
  data/2016/dataSources/weather.json
  data/2016/sampleData/staticbuildings.json
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/pluginmanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, server-data
