Repository QuentinGruber/h1z1-server, pull requests merged in 2024-01, with the labels that each got.

#1721 optimize soeprotocol
  .github/workflows/dev-test.yml
  .vscode/launch.json
  benchmarks/src/echo/echo-client.ts
  benchmarks/src/echo/echo-server-start.ts
  benchmarks/src/echo/echo-server.ts
  data/2016/sampleData/defaultconfig.yaml
  package-lock.json
  package.json
  scripts/demo/ZoneServer2016.js
  src/clients/soeclient.js
  src/protocols/h1z1protocol.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/LoginServer/loginserver.test.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/LoginZoneConnection/loginconnectionmanager.ts
  src/servers/LoginZoneConnection/shared/baselzconnection.ts
  src/servers/LoginZoneConnection/zoneconnectionmanager.ts
  src/servers/SoeServer/PacketsQueue.ts
  src/servers/SoeServer/logicalPacket.ts
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeinputstream.ts
  src/servers/SoeServer/soeoutputstream.ts
  src/servers/SoeServer/soeserver.test.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2015/zonepackethandlers.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanagerthread.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.test.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/servers/shared/workers/healthWorker.ts
  src/servers/shared/workers/udpServerWorker.ts
  src/types/soeserver.ts
  src/utils/processErrorHandling.ts
  src/utils/utils.test.ts
  src/utils/utils.ts
  tests/2015/loginClientTest.ts
  tests/2015/mongo/loginClientTest.ts
  tests/2015/mongo/testRuntime.ts
  tests/2015/mongo/zoneClientTest.ts
  tests/2015/testRuntime.ts
  tests/2015/zoneClientTest.ts
  tests/2016/loginClientTest.ts
  tests/2016/mongo/testRuntime.ts
  tests/2016/mongo/zoneClientTest.ts
  tests/2016/testIssuesInPacketSchemas.ts
  tests/2016/testRuntime.ts
  tests/2016/zoneClientTest.ts
  tests/testIssuesInPacketSchemas.test.ts
Labels: dependencies, client-2015, client-2016, core, config-files, server-data, loginserver, unit-tests

#1777 Optimization
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1780 remove old client on new client connect
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1784 Update prettier
  package-lock.json
  package.json
Labels: dependencies

#1785 update eslint
  package-lock.json
  package.json
Labels: dependencies

#1787 TypeDoc config auto-update
  package.json
  scripts/updateTypeDoc.ts
  typedoc.json
Labels: dependencies

#1789 Update fix-signature script to get rid of glob package
  package-lock.json
  package.json
  scripts/fixSignatures.ts
Labels: dependencies

#1791 Add missing signature headers
  src/servers/ZoneServer2016/classes/spawncell.ts
  src/servers/ZoneServer2016/managers/worlddatamanagerthread.ts
  src/utils/lz4/LICENSE
  src/utils/utils.ts
Labels: client-2016

#1793 Update ts-node and node types
  package-lock.json
  package.json
Labels: dependencies

#1796 dissociate vanish and spectate mode
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1800 Gh action to build and deploy doc at commit push
  .github/workflows/doc-gen.yml
  typedoc.json
Labels: config-files

#1766 Bugfix with melee bleeding on PvE
  src/servers/ZoneServer2016/entities/character.ts
Labels: need-ingame-test

#1809 Fix /banid
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1813 Update prettier & node types
  package-lock.json
  package.json
  src/servers/ZoneServer2015/commands/dev.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: dependencies, client-2015, client-2016

#1803 Implement a time wrapper for cleaner code
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016

#1805 Refactor stuff using the truncated timestamp
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1808 speedup nights
  src/servers/ZoneServer2016/managers/gametimemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1810 remove unused "clientban" lzprotocol packet
  src/protocols/lzconnectionprotocol.ts
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#1811 remove BANNED-LIGHT collection
  src/servers/LoginServer/loginserver.ts
  src/types/loginserver.ts
  src/utils/enums.ts
Labels: loginserver

#1812 Check global bans & clean some type stuff in loginserver
  src/servers/LoginServer/loginserver.ts
  src/types/loginserver.ts
Labels: loginserver

#1806 positionUpdate fix
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1817 Write tests for speedtree manager
  src/servers/ZoneServer2016/managers/speedtreemanager.test.ts
Labels: client-2016

#1819 Change salvaging ammo and update weapon workbench crafting
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#1818 Add initialStaticDTO caching x10 faster
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, need-ingame-test

#1827 Add reply command
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#1825 CollectingEntity fixes
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
Labels: client-2016, server-data

#1820 Fix vehicle not flipping while on its side
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#1837 Increase farm loot
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1830 Make some gatewayServer fields properly private
  src/servers/GatewayServer/gatewayserver.threaded.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016

#1831 Refactor Gateway Server to use SoeClientId instead of the full object
  src/servers/GatewayServer/gatewayserver.threaded.ts
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/GatewayServer/gatewayserver.worker.ts
  src/servers/ZoneServer2015/zonepackethandlers.ts
  src/servers/ZoneServer2015/zoneserver.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016

#1834 Use GatewayServerThreaded on ZoneServer2016
  src/servers/GatewayServer/gatewayserver.threaded.ts
  src/servers/GatewayServer/gatewayserver.worker.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1846 Update baseh1emuweather
  data/2016/dataSources/weather.json
Labels: server-data

#1847 Add enableDynamicWeather option to config file and change default weather to h1emubaseweather
  data/2016/sampleData/defaultconfig.yaml
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/models/config.ts
Labels: client-2016, server-data

#1823 Oprimisations
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2015, client-2016

#1844 Reduce spawn timer on low / medium pop
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1836 Add dev command to list itemSpawners chances
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1841 Faster broadcast
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/protocols.ts
Labels: client-2016

#1850 fix /findmodel command
  src/servers/ZoneServer2016/handlers/commands/dev.ts
Labels: client-2016

#1851 change baseEntities render distance
  src/servers/ZoneServer2016/entities/baseentity.ts
Labels: client-2016

#1852 kronicways-lootchanges
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1853 kronicways-changeDefaultLoadout
  src/servers/ZoneServer2016/data/loadouts.ts
Labels: client-2016

#1854 kronicmays-changeRecipes
  src/servers/ZoneServer2016/data/Recipes.ts
Labels: client-2016

#1855 kronicways-RemoveTestWolfAndBear
  data/2016/zoneData/Z1_npcs.json
Labels: server-data

#1857 Fix global bans propagation
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#1860 Fix swapping pouches with higher bulk
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1862 Add proximityItems without having to search first
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, need-ingame-test

#1840 Remove circular dependencies in Collecting and Smelting entitiesingentity.ts
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/classes/smeltingentity.ts
Labels: client-2016

#1868 Fix explosive damage and melee/projectilehits damaging armor and helmets
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1867 Added functionality of world spawned workbenches
  data/2016/zoneData/Z1_taskProps.json
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016, server-data

#1864 Removed lootbag collision
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1869 Fix bug with fertilizer efx not showing, add type safety stuff for plant class
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1871 change bee fx and add bee retaliation hudindicator, damage and fx
  data/2016/dataSources/HudIndicators.json
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
Labels: client-2016, server-data

#1875 Remove a weird hack used on crates creation
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1876 Created entities use native arrays
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#1877 Update Cabinet Cube spawn table
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#1821 Add Animal harvesting without melee and Add food poisoning
  data/2016/dataSources/HudIndicators.json
  src/servers/ZoneServer2016/data/loadouts.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/zombie.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data, need-ingame-test

#1879 Use utilizeHudTimer for logout
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#1880 Fix StartTimer packet being sent at every weapon fire
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
