Repository QuentinGruber/h1z1-server, pull requests merged in 2024-12, with the labels that each got.

#2265 adminIdInLogs
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#2264 next wipe changes
  data/2016/dataSources/AllowedFileHashes.json
  data/2016/sampleData/defaultconfig.yaml
  data/2016/zoneData/Z1_nerfedPOIs.json
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/classes/gridcell.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.test.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, core, server-data

#2272 zimms
  data/2016/zoneData/Z1_nerfedPOIs.json
Labels: server-data

#2274 slight buggs, disable some checks to improve hitreg
  data/2016/zoneData/Z1_nerfedPOIs.json
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2281 Hospital changes#2
  src/servers/ZoneServer2016/entities/taskprop.ts
Labels: client-2016

#2285 check for required components on seat swap
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2286 Changemodel
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2292 Fully Working Hospital Quest
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2291 Update getOfflineClient method
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2293 add all crates to rewardmanager
  src/servers/ZoneServer2016/managers/rewardmanager.ts
Labels: client-2016

#2303 bugfix/lootspawnIssue
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.test.ts
Labels: client-2016

#2301 setup for raycast plugin
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2299 Atv refuel changes
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2307 Add dev fanny pack to /kit parts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2308 saveFixesTests
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016

#2314 fix rewards
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/rewardmanager.test.ts
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2309 Ray cast setup
  src/servers/ZoneServer2016/data/constructionslots.ts
  src/servers/ZoneServer2016/data/loadouts.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016, server-data, loginserver

#2319 nerfed ferts
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2323 fixVehicleLOckingCrash
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2328 disable cooldown on repairing in pve
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2329 Fix his regards machete damage
  src/servers/ZoneServer2016/managers/abilitiesmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2326 feature/gunparts
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/types/zoneserver.ts
Labels: client-2016

#2330 SwizzleFix
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2335 Increase gas station fert
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2334 Move deck foundation to housing tab
  src/servers/ZoneServer2016/data/Recipes.ts
Labels: client-2016

#2342 Grinder
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/packets/ClientProtocol/ClientProtocol_1080/gamemode.ts
  src/packets/ClientProtocol/ClientProtocol_1080/mapRegion.ts
  src/packets/ClientProtocol/ClientProtocol_1080/spectator.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/accountinventorymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016
