Repository QuentinGruber/h1z1-server, pull requests merged in 2024-03, with the labels that each got.

#1972 Make wrench consistent with July 2016 update
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1961 Optimize NpcFoundationPermissionsManagerAddPermission
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016, need-ingame-test

#1980 Properly calculate ping
  src/servers/SoeServer/soeserver.ts
Labels: core

#1981 Add /dev lag to simulate high load
  src/servers/ZoneServer2016/handlers/commands/dev.ts
Labels: client-2016

#1982 Remove server lag from ping calculation
  src/servers/GatewayServer/gatewayserver.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016, core

#1985 0.33.1
  package-lock.json
  package.json
Labels: dependencies

#1983 fix issue with lastWhisperedPlayer being undefined
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#1991 Unallow server lag to be negative
  src/servers/SoeServer/soeserver.ts
Labels: core

#1992 Reduce serverLag calculation cpu usage
  src/servers/SoeServer/soeserver.ts
Labels: core

#1993 Make /dev lag ending artificial lag after 20seconds
  src/servers/ZoneServer2016/handlers/commands/dev.ts
Labels: client-2016

#1997 TrapEntity damage
  src/servers/ZoneServer2016/entities/trapentity.ts
Labels: client-2016

#2001 Fix isNoBuildInPOIs boolean algebra
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2005 Fairplayfixes
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2007 Fix melee damage while respawning
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#1996 Allow refueling to 100, but not exceed
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1999 Lower vehicle decay rate
  data/2016/sampleData/defaultconfig.yaml
Labels: server-data

#1987 Hammer cooldown for repairing constructions
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#1998 Fix skinning knife durability/damage
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, need-ingame-test

#1977 Documentation
  package.json
  src/servers/ZoneServer2016/classes/baseItem.ts
  src/servers/ZoneServer2016/classes/collectingentity.ts
  src/servers/ZoneServer2016/classes/gridcell.ts
  src/servers/ZoneServer2016/classes/loadoutcontainer.ts
  src/servers/ZoneServer2016/classes/smeltingentity.ts
  src/servers/ZoneServer2016/classes/spawncell.ts
  src/servers/ZoneServer2016/classes/weapon.ts
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/basesimplenpc.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/entities/destroyable.ts
  src/servers/ZoneServer2016/entities/doorentity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/lootbag.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/entities/plantingdiameter.ts
  src/servers/ZoneServer2016/entities/taskprop.ts
  src/servers/ZoneServer2016/entities/temporaryentity.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/treasurechest.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/entities/watersource.ts
  src/servers/ZoneServer2016/managers/abilitiesmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/gametimemanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016, server-data

#2020 Fix an issue with lootbag creating a dupe of the destroyed entity
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#2019 Recipe system rework
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2015 Use process.uptime
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2018 NameValidation doesn't allow case sensitive duplicates anymore
  src/servers/LoginServer/loginserver.ts
Labels: loginserver, need-ingame-test

#2009 FairPlay & VoiceChat
  data/2016/sampleData/defaultconfig.yaml
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/voicechatmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#2021 o number of dto to serverinfO
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2011 Renable wood fence destruction
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#2012 Give proper transientId to destroyables
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016

#2013 Rework some destroyables behavior
  src/servers/ZoneServer2016/entities/destroyable.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2022 Adapt effectId for new destroyables
  src/servers/ZoneServer2016/entities/destroyable.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2026 Fire hydrants
  data/2016/zoneData/Z1_taskProps.json
  src/servers/ZoneServer2016/entities/watersource.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2027 Disable the destruction of glitched wood fences
  src/servers/ZoneServer2016/entities/destroyable.ts
Labels: client-2016

#2028 Add some type safety to commandHandler
  src/servers/ZoneServer2016/handlers/commands/commandhandler.ts
Labels: client-2016

#2029 Move commandHandler to zoneserver
  src/servers/ZoneServer2016/managers/pluginmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2035 Fix an issue while reloading commands
  src/servers/ZoneServer2016/handlers/commands/commandhandler.ts
Labels: client-2016

#2033 Containers respawn command
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2034 Other Loot timer stuff
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/entities/taskprop.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#2032 Other tool cabinet types
  data/2016/zoneData/Z1_lootableProps.json
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016, server-data

#1970 Add WS as a dependency
  package-lock.json
  package.json
Labels: dependencies

#2037 Add typing to positionUpdateType
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/doorentity.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2036 FairPlay / VoiceChat
  data/2016/sampleData/defaultconfig.yaml
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/voicechatmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016, config-files, server-data, loginserver

#2039 fix for dew collector not working
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
Labels: client-2016

#2041 fix niko
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2043 Max durability for /additem
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016
