Repository QuentinGruber/h1z1-server, pull requests merged in 2024-05, with the labels that each got.

#2050 Search Containers before displaying proximity
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2052 fix airdrops
  src/servers/ZoneServer2016/entities/plane.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2055 Decaymanager unit testing
  .github/workflows/dev-test.yml
  .github/workflows/doc-gen.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  src/servers/ZoneServer2016/managers/decaymanager.test.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
Labels: client-2016, config-files

#2056 misc
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/inGamePurchase.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2068 Minor changes + fixes
  data/2016/dataSources/AllowedFileHashes.json
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/packets/ClientProtocol/ClientProtocol_1080/command.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/entities/treasurechest.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
  src/servers/ZoneServer2016/managers/abilitiesmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#2075 Fixed a bug with applying skins to inventory items
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: dependencies, client-2016

#2074 Rework Account Inventory
  src/servers/ZoneServer2016/classes/accountinventory.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/managers/accountinventorymanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.test.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanagerthread.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016

#2077 AccountInventoryUnitTests
  src/servers/ZoneServer2016/managers/accountinventorymanager.test.ts
  src/servers/ZoneServer2016/managers/accountinventorymanager.ts
Labels: client-2016

#2078 Fix airdrop sound issue
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2072 updt deps
  .github/workflows/release.yml
  docker/2015/H1emuServer.Dockerfile
  docker/2015/LoginServer.Dockerfile
  docker/2015/ZoneServer.Dockerfile
  docker/2016/H1emuServer.Dockerfile
  docker/2016/ZoneServer.Dockerfile
  package-lock.json
  package.json
Labels: dependencies, config-files, dockerfiles
