Repository QuentinGruber/h1z1-server, pull requests merged in 2024-09, with the labels that each got.

#2137 switch back to commonjs
  tsconfig.json
Labels: config-files

#2139 Weather and additions
  data/2016/dataSources/weather.json
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2141 tsx
  package-lock.json
  package.json
Labels: dependencies

#2134 Handle groups correctly
  src/packets/ClientProtocol/ClientProtocol_1080/group.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: help wanted, client-2016, reverse

#2144 Minor changes
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/LoginUdp_11packets.ts
Labels: client-2016, loginserver

#2159 h1z1-dataschema 1.8.1
  package-lock.json
  package.json
Labels: dependencies

#2163 BugFix/infinite_loading_screen
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2162 guid stuff
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2164 client in debugmode can access secured storage
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2165 plugin unit tests
  package-lock.json
  package.json
  plugins/TestPlugin/.gitignore
  plugins/TestPlugin/data/defaultconfig.yaml
  plugins/TestPlugin/package-lock.json
  plugins/TestPlugin/package.json
  plugins/TestPlugin/plugin.js
  plugins/TestPlugin/src/plugin.ts
  plugins/TestPlugin/tsconfig.json
  plugins/testplugin-config.yaml
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/pluginmanager.test.ts
  src/servers/ZoneServer2016/managers/pluginmanager.ts
Labels: dependencies, client-2016
