Repository QuentinGruber/h1z1-server, pull requests merged in 2024-10, with the labels that each got.

#2166 fix_unoptimized_code
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2170 optimizations + respawn fix
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2175 h1z1-dataschema 1.9.0
  package-lock.json
  package.json
  src/protocols/h1z1protocol.ts
Labels: dependencies

#2171 fixed airdrop crash
  src/packets/ClientProtocol/ClientProtocol_1080/h1emu.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2179 fix mem leak soe
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeserver.test.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016, core

#2185 bugfix/dupeExploit
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2188 gift from meme
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2186 Update groups for offline players
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2182 explosive and wom opts + more
  data/2016/dataSources/AllowedFileHashes.json
  data/2016/sampleData/blacklisted_words.json
  src/servers/ZoneServer2016/managers/chatmanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016, server-data

#2190 was asked to change msg
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2189 Some more fixes
  src/packets/ClientProtocol/ClientProtocol_1080/group.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2192 Disable chat radio
  src/servers/ZoneServer2016/managers/chatmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: dependencies, client-2016, core, server-data, loginserver

#2203 bugfix/serverpopcap
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, loginserver

#2204 fixed infinite armor bug
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2205 Sniper fixes
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2208 CharacterLoginRequest return the status of the connection
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#2207 change rewards
  src/servers/ZoneServer2016/managers/rewardmanager.ts
Labels: client-2016

#2211 warnings before kick
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2209 lowered char render distance
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2212 handle_failing_saving_char
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2206 remove assets hashs from db
  src/servers/LoginServer/loginserver.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/utils/enums.ts
Labels: client-2016, loginserver

#2215 authkey check in httpserver
  src/servers/LoginServer/workers/httpServer.ts
  src/utils/enums.ts
Labels: loginserver

#2217 halloween
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/utils/utils.ts
Labels: client-2016

#2220 fix multi-harvesting
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016

#2222 revert char render distance to 400
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2223 updated hashse
  data/2016/dataSources/AllowedFileHashes.json
Labels: server-data

#2229 changeRenderDistanceConstructions
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
Labels: client-2016

#2228 afk
  src/servers/ZoneServer2016/classes/zoneclient.ts
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
