Repository QuentinGruber/h1z1-server, pull requests merged in 2024-06, with the labels that each got.

#2079 Update proximity items for all clients in range
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2081 Fix spectator login crash
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2083 Fix specific action causing grenade duplication
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
Labels: client-2016

#2082 fix / rm some todos
  src/servers/LoginServer/loginserver.test.ts
  src/servers/LoginServer/loginserver.ts
  src/servers/LoginZoneConnection/shared/lzconnectionclient.ts
  src/servers/SoeServer/soeserver.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/chatmanager.ts
  src/servers/ZoneServer2016/managers/decaymanager.test.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/utils.ts
Labels: client-2016, core, loginserver

#2085 renable wood fences destruction
  src/packets/ClientProtocol/ClientProtocol_1080/dto.ts
  src/servers/ZoneServer2016/entities/destroyable.ts
Labels: client-2016

#2088 Display reward notification after case unboxing
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2089 Track if player is in inventory
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2096 Properly await for world save
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2094 Add playtime manager
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/playtimemanager.test.ts
  src/servers/ZoneServer2016/managers/playtimemanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#2099 Updt deps
  package-lock.json
  package.json
Labels: dependencies

#2100 Allow nodejs 22
  package-lock.json
  package.json
Labels: dependencies

#2101 Change weird syntax in character save
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
Labels: client-2016

#2095 Add Reward Manager
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/managers/rewardmanager.test.ts
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#2098 Add reward related admin commands
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2103 Update h1z1-dataschema version
  package-lock.json
  package.json
Labels: dependencies

#2105 Improve AccountInventory logic
  src/servers/ZoneServer2016/managers/accountinventorymanager.ts
Labels: client-2016
