Repository QuentinGruber/h1z1-server, pull requests merged in 2025-07, with the labels that each got.

#2656 airdrop player count multiply
  src/servers/ZoneServer2016/managers/randomeventsmanager.ts
Labels: client-2016

#2654 update poi
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#2663 Zombie lootbag nerf abit
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016

#2666 Add use options for (raw) Corn
  src/servers/ZoneServer2016/data/useoptions.ts
Labels: client-2016

#2665 Fix for wrong items inside lootbags
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
Labels: client-2016

#2674 add a db log when a login fail
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016

#2675 fix: tired buddy challenge
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2671 fixed an issue with zombie lootbags
  src/servers/ZoneServer2016/entities/baselootableentity.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2677 add nodejs reports cmd
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/utils/enums.ts
Labels: client-2016

#2680 updt deps
  package-lock.json
  package.json
Labels: dependencies

#2676 Reworked getDeathItems logic
  src/servers/ZoneServer2016/data/deathitemdamageconfig.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2684 Fix airdrops not being able to be spawned in by randomevents
  src/servers/ZoneServer2016/managers/randomeventsmanager.ts
Labels: dependencies, client-2016
