Repository QuentinGruber/h1z1-server, pull requests merged in 2025-06, with the labels that each got.

#2616 Crate alert fix
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/rewardmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2618 Adjusted giverewardtoall command, possible to add more than one crate ID in one command
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2629 Commands(whisper)
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2622 Adjustment + new (FOR NEXT WIPE)
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#2636 giverewardtoall command prettified
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2639 change_pop_level_calculations
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#2243 traps ai
  package-lock.json
  package.json
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/playtimemanager.test.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/constants.ts
Labels: dependencies, client-2016

#2641 Remove Anarchy Leather Pants from Infernal Crate
  data/2016/dataSources/AccountCrates.json
Labels: server-data

#2644 fix: weapon crashed
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2621 Looting Lootbag/Container underneath
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2646 updt deps
  package-lock.json
  package.json
  src/packets/ClientProtocol/ClientProtocol_860/shared.ts
Labels: dependencies

#2647 explosive kills not display properly on killfeed
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2650 allow some default items to be in lootbag
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
Labels: client-2016

#2657 dev-release-workflow
  .github/workflows/dev-release-warning.yml
  .github/workflows/dev-release.yml
  package-lock.json
  package.json
Labels: dependencies, config-files

#2658 feature/dev-release-workflows-2
  .github/workflows/dev-release.yml
Labels: config-files

#2659 feature/dev-release-workflows-3
  .github/workflows/dev-release.yml
Labels: config-files

#2655 color atv
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#2651 remake the aimanager in ts
  package-lock.json
  package.json
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/aimanager.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/constants.ts
Labels: dependencies, client-2016

#2652 add traps degradation
  src/servers/ZoneServer2016/entities/trapentity.ts
  src/servers/ZoneServer2016/managers/aimanager.ts
Labels: client-2016

#2653 trigger old landmines after a certain time
  src/servers/ZoneServer2016/entities/explosiveentity.ts
  src/servers/ZoneServer2016/managers/aimanager.ts
Labels: client-2016
