Repository QuentinGruber/h1z1-server, pull requests merged in 2025-04, with the labels that each got.

#2552 fix having the same challenge twice in a row
  src/servers/ZoneServer2016/managers/challengemanager.ts
Labels: client-2016

#2553 add ranchito challenge
  src/servers/ZoneServer2016/managers/challengemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2554 change craft challenges statement to a switch
  src/servers/ZoneServer2016/managers/craftmanager.ts
Labels: client-2016

#2555 add swizzle challenge
  src/servers/ZoneServer2016/managers/challengemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2561 Fix server crash
  data/2016/sampleData/defaultconfig.yaml
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/chat.ts
  src/packets/ClientProtocol/ClientProtocol_1080/gamemode.ts
  src/packets/ClientProtocol/ClientProtocol_1080/ui.ts
  src/packets/ClientProtocol/ClientProtocol_1080/voice.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/handlers/commands/dev.ts
  src/servers/ZoneServer2016/managers/configmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/config.ts
  src/servers/ZoneServer2016/models/hooks.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016, server-data

#2566 fix braindead challenge
  src/servers/ZoneServer2016/entities/npc.ts
Labels: client-2016

#2567 fix dupe challenges rewards
  src/servers/ZoneServer2016/managers/challengemanager.ts
Labels: client-2016

#2565 added cold-medicine
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2568 QOL: Slight nerf to burning tick on Blaze
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2571 minnor changes
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2576 enumss
  src/servers/ZoneServer2016/data/Recipes.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2577 Nerf mollys
  .gitignore
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2578 loottable changes
  data/2016/zoneData/Z1_nerfedPOIs.json
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
Labels: client-2016, server-data

#2582 Revert "POI Update"
  data/2016/zoneData/Z1_POIs.json
Labels: server-data
