Repository QuentinGruber/h1z1-server, pull requests merged in 2025-02, with the labels that each got.

#2449 fix docker actions
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Labels: dependencies, client-2016, config-files, server-data

#2451 add game-logs
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
Labels: client-2016

#2452 player stats
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/utils/enums.ts
  src/utils/utils.ts
Labels: client-2016

#2448 Fix construction items having durability
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2447 More shoe types
  src/servers/ZoneServer2016/data/lootspawns.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2446 Fix magnum and 308 to damage vehicles at 8% per shot
  src/servers/ZoneServer2016/entities/vehicle.ts
Labels: client-2016

#2434 Add durability damage to tools when meleeing
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/entities/destroyable.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2453 updt deps
  package-lock.json
  package.json
Labels: dependencies

#2457 some work on the rcon
  src/servers/ZoneServer2016/managers/rconmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2435 add tan mil to world spawns
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2461 do not remove player from group on disconnect
  src/servers/ZoneServer2016/managers/groupmanager.ts
Labels: client-2016

#2463 remove saving of groupid
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/types/savedata.ts
Labels: client-2016

#2464 get group id from /groups collection directly
  src/servers/ZoneServer2016/managers/groupmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2458 fill dew collectors while raining
  src/servers/ZoneServer2016/managers/smeltingmanager.ts
  src/servers/ZoneServer2016/managers/weathermanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2465 fill one bottle per hour raining
  src/servers/ZoneServer2016/managers/weathermanager.ts
Labels: client-2016

#2466 add playtime to stats
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2467 authorize explosion damages from projectiles
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2469 DTO explosive damages
  src/servers/ZoneServer2016/entities/destroyable.ts
Labels: client-2016

#2472 deps
  package-lock.json
  package.json
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: dependencies, client-2016

#2471 fix-constructionmanager-cooldown-message
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2474 add WALL SLOT FAILED
  src/servers/ZoneServer2016/entities/constructionchildentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/utils/enums.ts
Labels: client-2016

#2475 constructionCooldownTimeHandling
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2478 Allow every members of a group to invite new ones
  src/servers/ZoneServer2016/managers/groupmanager.ts
Labels: client-2016

#2476 Send killfeed to all client with entity spawned
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2479 Display an alert when an invited player is already in a group
  src/servers/ZoneServer2016/managers/groupmanager.ts
Labels: client-2016

#2477 add a special killfeed message when someone kill in godmode
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2480 Better checking of blacklisted entries
  src/servers/LoginServer/loginserver.ts
Labels: loginserver

#2483 add old_crc32_hash option
  src/servers/ZoneServer2016/managers/fairplaymanager.ts
  src/types/shared.ts
Labels: client-2016

#2482 Update assets hashs
  data/2016/dataSources/AllowedFileHashes.json
Labels: server-data

#2484 updt assets hash
  data/2016/dataSources/AllowedFileHashes.json
Labels: server-data

#2481 add h1emu crate in rotation
  src/servers/ZoneServer2016/managers/rewardmanager.ts
Labels: client-2016

#2486 Adapt scale on placement ( usefull for barricades )
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/managers/worldobjectmanager.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2487 fix placement model position
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2497 Set godmode when modifying run speed to bugatti
  src/servers/ZoneServer2016/handlers/commands/internalcommands.ts
Labels: client-2016
