Repository QuentinGruber/h1z1-server, pull requests merged in 2025-01, with the labels that each got.

#2350 fix toxic_combatknife
  src/servers/ZoneServer2016/managers/abilitiesmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2357 Fixed footwear sound issues and various minor adjustments.
  out.zip
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/character.ts
  src/packets/ClientProtocol/ClientProtocol_1080/clientUpdate.ts
  src/packets/ClientProtocol/ClientProtocol_1080/gamemode.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/entities/baseentity.ts
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
  src/servers/ZoneServer2016/entities/baselightweightcharacter.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/packets.ts
  src/types/zone2016packets.ts
Labels: client-2016

#2354 Remove duplicate door at lonepine house
  data/2016/zoneData/Z1_doors.json
Labels: server-data

#2343 Add more ways to get reward crates
  src/servers/ZoneServer2016/entities/crate.ts
  src/servers/ZoneServer2016/entities/itemobject.ts
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
Labels: client-2016

#2347 Modify cabinet search strings
  src/servers/ZoneServer2016/entities/lootableprop.ts
Labels: client-2016

#2365 remove testing node23
  .github/workflows/dev-test.yml
Labels: config-files

#2364 Queue packet and new 256 hash
  data/2016/dataSources/AllowedFileHashes.json
  src/packets/LoginUdp/LoginUdp_11/loginpackets.ts
  src/servers/LoginServer/loginserver.ts
  src/types/LoginUdp_11packets.ts
  src/types/packets.ts
Labels: server-data, loginserver

#2345 Fix nutritional values for food and beverages
  data/2016/dataSources/HudIndicators.json
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2367 Jagged skinning knife fix
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2362 Ghillisuitreward
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2355 Add empty anti viral bottle to hospital cabinet spawn
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2363 Fix PvE killing players with vehicle
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2372 crate rates
  src/servers/ZoneServer2016/entities/lootableprop.ts
  src/servers/ZoneServer2016/entities/treasurechest.ts
  src/servers/ZoneServer2016/managers/speedtreemanager.ts
Labels: client-2016

#2374 spectator fix
  src/servers/ZoneServer2016/handlers/commands/commands.ts
Labels: client-2016

#2387 Add driver only refueling
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2382 Fix convey skins losing durability upon skinning
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2373 Add debuff to spam crouching (enas)
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2384 Add hud timer to looting vehicle loadout item
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2383 Lower 1000 bulk backpack spawns
  src/servers/ZoneServer2016/data/lootspawns.ts
Labels: client-2016

#2386 Add small resistance to boots
  src/servers/ZoneServer2016/entities/trapentity.ts
Labels: client-2016

#2389 Revert "Add small resistance to boots"
  src/servers/ZoneServer2016/entities/trapentity.ts
Labels: client-2016

#2390 maxseq-outputstream-limited-local
  src/servers/SoeServer/soeclient.ts
  src/servers/SoeServer/soeoutputstream.ts
Labels: core

#2391 Disable molotov damages in PVE
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2392 Player can't burn in water
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2393 fixing node23 tests
  .github/workflows/dev-test.yml
  package.json
Labels: dependencies, config-files

#2395 Fix frostbite effects lasting forever
  src/servers/ZoneServer2016/entities/character.ts
Labels: client-2016

#2396 Enas trigger on 6 crouch
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2397 Fix enas speedModifier issues
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2394 Up vehicle collision damage
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2359 bugFix/Crafting
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2385 Add deer scent functionality
  data/2016/dataSources/HudIndicators.json
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2398 Fix gate/door interaction string
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2375 Add claiming bases logic
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2388 PositionUpdate parsing
  data/2016/sampleData/defaultconfig.yaml
  src/packets/ClientProtocol/ClientProtocol_1080/base.ts
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/protocols/h1z1protocol.ts
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2399 explosive arrows (recurve bow workaround)
  data/2016/dataSources/ServerWeaponDefinitions.json
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/projectileentity.ts
  src/servers/ZoneServer2016/entities/vehicle.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/zoneserver.ts
Labels: client-2016, server-data

#2378 Adrenaline shot
  data/2016/dataSources/HudIndicators.json
  src/servers/ZoneServer2016/data/useoptions.ts
  src/servers/ZoneServer2016/models/enums.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016, server-data

#2361 Save character metrics
  src/servers/ZoneServer2016/entities/character.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
  src/types/savedata.ts
Labels: client-2016

#2412 Fix orange backpack bulk & not skinnable issue
  src/servers/ZoneServer2016/models/enums.ts
Labels: client-2016

#2381 New feature (multiple 'owners') for base permissions
  src/servers/ZoneServer2016/entities/constructiondoor.ts
  src/servers/ZoneServer2016/entities/constructionparententity.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: enhancement, help wanted, client-2016

#2417 updt hashes
  data/2016/dataSources/AllowedFileHashes.json
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#2419 added new crate to rotation
  src/servers/ZoneServer2016/managers/rewardmanager.ts
Labels: client-2016

#2423 Fix cabinet interaction string and move cabinet type
  src/servers/ZoneServer2016/entities/lootableprop.ts
Labels: client-2016

#2428 fix
  src/servers/ZoneServer2016/handlers/commands/commands.ts
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2421 Fix for vehicle collision dmg on small bumps
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2432 Creating typing for multideath
  src/packets/ClientProtocol/ClientProtocol_1080/shared.ts
  src/servers/ZoneServer2016/entities/npc.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2425 Fix metric survive time
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
