Repository QuentinGruber/h1z1-server, pull requests merged in 2025-09, with the labels that each got.

#2695 0.47.1-1
  package-lock.json
  package.json
Labels: dependencies

#2696 Revert CraftManager for now
  package-lock.json
  package.json
  src/servers/ZoneServer2016/managers/craftmanager.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: dependencies, client-2016

#2699 Bugfix/abilities
  package-lock.json
  package.json
  src/servers/ZoneServer2016/entities/character.ts
Labels: dependencies, client-2016

#2701 New/old poi system
  data/2016/zoneData/Z1_POIs.json
Labels: server-data
