Repository QuentinGruber/h1z1-server, pull requests merged in 2025-05, with the labels that each got.

#2587 QOL - Increased visual effect on ferted tillers
  src/servers/ZoneServer2016/entities/plant.ts
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016

#2586 Demo tillers
  package.json
  src/servers/ZoneServer2016/entities/plantingdiameter.ts
  src/servers/ZoneServer2016/managers/worlddatamanager.ts
  src/types/savedata.ts
Labels: client-2016

#2590 Reduce fog density and chance
  src/servers/ZoneServer2016/managers/weathermanager.ts
Labels: client-2016

#2591 Gas does damage in PvE. to client
  src/servers/ZoneServer2016/entities/projectileentity.ts
Labels: client-2016

#2598 POI UPDATE
  data/2016/zoneData/Z1_POIs.json
Labels: server-data

#2593 update deps
  package-lock.json
  package.json
Labels: dependencies

#2595 Convey durability loss on death
  src/servers/ZoneServer2016/entities/basefullcharacter.ts
Labels: client-2016

#2443 Hide freeplaced entities inside secured ConstructionChildEntities
  src/servers/ZoneServer2016/entities/lootableconstructionentity.ts
  src/servers/ZoneServer2016/managers/constructionmanager.ts
Labels: client-2016

#2604 fix falsy transientId error
  src/servers/ZoneServer2016/zonepackethandlers.ts
Labels: client-2016

#2614 check for permissionLevel on getadmin
  src/servers/ZoneServer2016/zoneserver.ts
Labels: client-2016
